
.wholeShopPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.shop-page {
    width: 90vw;
}

.MarketplaceDiv {
    color: #fff;
}